
.icon {
    font-size: .9rem;
}
.status {
  color: var(----textDark);
}

.statusAprovado {
  color: var(--secondary);
}

/* Media query para telas menores */
@media (max-width: 1200px) {
  .tabela {
    grid-template-columns: 2fr 1.5fr 6fr 1.5fr 0.5fr;
  }
}

@media (max-width: 992px) {
  .tabela {
    grid-template-columns: 1.5fr 1.5fr 5fr 1.5fr 0.5fr;
  }
}

@media (max-width: 768px) {
  .tabela {
    grid-template-columns: 1.5fr 1fr 4fr 1fr 0.5fr;
  }
  .tabela div {
    font-size: .7rem;
  }
  .tabela div .icon {
    font-size: .8rem;
  }
}

@media (max-width: 576px) {
  .tabela {
    grid-template-columns: 1fr 1fr 3fr 1fr 0.5fr;
  }
  
  .tabela div {
    font-size: .6rem; 
  }
}

@media (max-width: 480px) {
  .tabela {
    grid-template-columns: 1fr 1fr 2fr 1fr 0.5fr;
  }
  /* .tabela div .icon {
    font-size: .7rem;
  } */
}
