.main {
  margin-top: 130px;
  flex: 1;
}

.container{
  margin-bottom: 20px;
}

.container:last-child{
  margin-bottom: 50px;
}

.contentContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr)); /* Gera colunas automáticas de no mínimo 300px e ajusta-se ao espaço disponível */
  grid-gap: 20px; /* Espaçamento entre os cards */
}

.title {
  font-size: 1.6rem;
  line-height: 1.6em;
  margin: 20px 0;
}

.title2{
  font-size: 1.2rem;
  line-height: 1.6em;
  margin-bottom: 20px;
  font-weight: 500;
}

@media screen and (max-width: 1366px) {
  .main {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 0.9rem;
    line-height: 1.6em;
    color: var(--textDark);
    /* letter-spacing: 1px; */
    font-weight: lighter;
    margin-bottom: 20px;
  }
}
