.direction {
  border: 1px solid #595A5B; /* Exemplo de borda */
 
  border-radius: 5px; /* Exemplo de bordas arredondadas */
  background-color: #fff; /* Exemplo de cor de fundo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  /* Exemplo de sombra */
  flex-shrink: 0; /* Impede que o conteúdo diminua mais do que o tamanho especificado */
  overflow: hidden;
}

.innerDiv {
  width: 100%;
  display: flex;
  /* margin-bottom: 20px; */
}

.textTitular {
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: var(--textDark);
}

.text {
  font-size: 0.9rem;
  color: #B1B4B6;
}

.iconContainer{
  cursor: pointer;
  margin-left: auto; /* Empurra o ícone para a extremidade direita */
  border: 1px solid #595A5B;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.iconContainer:hover{
  background-color: #595A5B;
  color: white;
}

.icon {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
}

.additionalText {
  color: #5b5959;
  margin: 10px 0; /* Adiciona espaçamento acima e abaixo do parágrafo adicional */
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  /* margin-top: 40px; */
}

.buttonContainer > button{
  width: 40%;
}

.buttonContainerAtivas{
  display: flex;
  /* margin-top: 40px; */
}

.buttonContainerAtivas > button{
  width: 40%;
}

.card {
  position: relative;
  perspective: 800px;
  width: 100%;
  height: 200px; 
}


.cardFront,
.cardBack {
  width: 100%;
  height: 100%;
  padding: 20px;
  
  backface-visibility: hidden;
  transition: ease-in-out .5s;
  /* border: 1px solid #595A5B; */
  border-radius: 5px; 
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* cursor: pointer; */
  /* overflow-y: auto; */
  /* padding: 20px; */
  word-wrap: break-word;
}

.cardFront{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  transform: rotateY(0deg); /* Adicionado para garantir que a frente esteja visível inicialmente */
}

.cardFront ~ .cardBack{
  overflow-y: hidden;
}

.cardBack{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color:  #FFFFFF;
  transform: rotateY(180deg);
}

.isRotated .cardFront{
  transform: rotateY(180deg);
}

.isRotated .cardBack{
  transform: rotateY(0);
}

.isRotated .cardBack > ul {
  overflow-y: auto;
}

.icon-container {
  cursor: pointer;
  padding:10px;
}

/* Define a rotação do card */
.rotate-card {
  transform: rotate(90deg);
}

/* Media Query para dispositivos de tela menores */
@media screen and (max-width: 768px) {
  .direction {
    width: 100%; /* Define a largura como 100% em dispositivos menores */
  }
}
@media screen and (max-width: 1380px){
  .direction {
    width: 100%; /* Define a largura como 100% em dispositivos menores */
  }
}